<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">
        <com1 @fuc="loadComments"></com1>
        <ul class="list-group">
            <li class="list-group-item" v-for="item in list" :key="item.id">
                <span class="badge">评论人: {{ item.user }}</span>
                    {{ item.content }}
            </li>
        </ul>
        
    </div>


    <template id="temp1">
        <div>
            <div class="form-group">
                <label>评论人:</label>
                <input type="text" class="form-control" v-model="user">
            </div>
            <div class="form-group">
                <label>评论内容:</label>
                <input type="text" class="form-control" v-model="content">
            </div>
            <div class="form-group">
                    <input type="button" value="发表" class="btn btn-primary" @click="post">
                </div>
        </div>
    </template>

    <script>

        var comBox = {
            template:'#temp1',
            data(){
                return {
                    user : '',
                    content : ''
                }
            },
            methods:{
                post(){
                    //------------------------------------ localStorage 初识 ------------------------------------------------------------
                    // 分析：发表评论的业务逻辑
                    // 1. 评论数据存到哪里去？？？   存放到了 localStorage 中  localStorage.setItem('cmts', '')
                    // 2. 先组织出一个最新的评论数据对象
                    // 3. 想办法，把 第二步中，得到的评论对象，保存到 localStorage 中：
                    //  3.1 localStorage 只支持存放字符串数据， 要先调用 JSON.stringify 
                    //  3.2 在保存 最新的 评论数据之前，要先从 localStorage 获取到之前的评论数据（string）， 转换为 一个  数组对象， 然后，把最新的评论， push 到这个数组
                    //  3.3 如果获取到的 localStorage 中的 评论字符串，为空不存在， 则  可以 返回一个 '[]'  让 JSON.parse 去转换
                    //  3.4  把 最新的  评论列表数组，再次调用 JSON.stringify 转为  数组字符串，然后调用 localStorage.setItem()
                    var cmt = {id:Date.now(),user:this.user,content:this.content};
                    // 从 localStorge 中获取所有数据
                    var cmts = JSON.parse(localStorage.getItem('cmts') || '[]');
                    cmts.unshift(cmt);
                    // 重新保存最新数据
                    localStorage.setItem('cmts',JSON.stringify(cmts));
                    this.user=this.content=''

                    // 调用父组件中的 methods 方法 this.loadComment()
                    this.$emit('fuc')
                }
            }
        }


        var vm=new Vue({
           el:'#app',
           data:{
                list:[
                    {id:Date.now(),user:'Juniors',content:'Run As One!'},
                    {id:Date.now(),user:'Harden',content:'JJ HH ll!'},
                    {id:Date.now(),user:'James',content:'Bouns Youth!'},
                ]
            },
            beforeCreate(){ // 注意：这里不能调用 loadComments 方法，因为在执行这个钩子函数的时候，data 和 methods 都还没有被初始化好

            },
            created(){
                this.loadComments()
            },
            methods:{
                loadComments(){
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]');
                    this.list = list;
                }
            },
            components:{
                com1:comBox,
            }
        });
    </script>
</body>

</html>